<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KLM CORRETORA DE SEGUROS | TEL 11.99229-2894</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/css/estilos.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/css/owl.theme.css">
  <link rel="icon" type="img/png" href="images/site/Logo KLM_Recortado.png">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="https://api.whatsapp.com/send?phone=5511992292894&text=">
        <img id="tel" src="images/site/whatsapp.png" alt="LIGUE AGORA MESMO!" style="width:100; height:70px;"/>
      </a>
            <a href="/" target="_self">
              <img id="logo" border="0" src="images/site/logoPI.png" alt="KLM CORRETORA DE SEGUROS" style="width: 150px;; height:120px; " />
            </a>
            <h1>KLM CORRETORA DE SEGUROS</h1>
            <h2>BARUERI - SÃO PAULO</h2>
    </div>
    <nav class="menu">
               <ul>
                  <li><a href="/">INÍCIO</a></li>
                  <li><a href="sobrenos">A KLM</a></li>
                  <li><a href="#">PARA VOCÊ</a>
                      <ul class="center">
                          <li><a href="vida">VIDA</a></li>
                          <li><a href="acidentesPessoais">ACIDENTES PESSOAIS</a></li>
                          <li><a href="protecaoPlanejada">PROTEÇÃO PLANEJADA</a></li>
                          <li><a href="previdencia">PREVIDÊNCIA PRIVADA</a></li>
                          <li><a href="protecao">PROTEÇÃO E MONITORAMENTO</a></li>
                          <li><a href="healthPet">HEALTH FOR PET</a></li>
                          <li><a href="consorcio">CONSÓRCIO</a></li>
                          <li><a href="carroFacil">CARRO FÁCIL</a></li>
                      </ul>  
                  </li>
                  <li><a href="#">PARA SUA EMPRESA</a>
                      <ul>
                          <li><a href="vidaColetivo">VIDA</a></li>
                          <li><a href="acidentesPessoaisColetivo">ACIDENTES PESSOAIS</a></li>
                          <li><a href="saudeOdonto">SAÚDE E ODONTOLÓGICO</a></li>
                      </ul>                       
                  </li>
                  <li><a href="compra">COMPRE AQUI</a></li>
                  <li><a href="contato">CONTATO</a></li>
              </ul>
          </nav>
  </header>
