h4 {
    background-color: red;
}

body {
    background-color: #f8f7f7;
}

header {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 1350px;
    height: 30px;
    
}

.main section{
    justify-content: space-between;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(52, 52, 245);
    width:1350px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal ul{
    display:flex;
    margin: 5px;
    padding-right: 5px;
}

.principal ul li{
    display:inline-block;
    padding-right: 40px;
    padding-left:20px;
}

.carrinho {
    display:flex;
    padding-left: 450px;
    width: 30px;
    height: 30px;
    
}
.container {
    display: inline;
    width: 70%;
    height: 70%;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:#f8f7f7;
}

.rodape {
    display: flex;
    justify-content: center;
    width:20%;
    height: 20%;
}



