<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Consórcio</h2> 
    <div id="klm">
    <img><img id="applus" border="0" src="images/site/Individual/carro_facil.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>