<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Health for Pet</h2> 
    <div id="klm">
    <img><img id="applus" border="0" src="images/site/Individual/Health_4_pet.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>