<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Proteção Planejada</h2> 
    <div id="klm">
    <img><img id="applus" border="0" src="images/site/Individual/proteção planejada.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>