<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Vida Individual</h2> 
    <div id="klm">
    <img><img id="vida" border="0"  src="images/site/Individual/Vida Individual.png" /> </img><br>
    <img><img id="vidamaissimples" border="0" src="images/site/Individual/Vida Mais Simples.png" /></img><br>
    <img><img id="vidamaismulher" border="0" src="images/site/Individual/Vida Mais Mulher.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>