<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Acidentes Pessoais Coletivo</h2> 
    <div id="klm">
    <img><img id="applus_col" border="0" src="images/site/Coletivo/Acidentes_Pessoais_Coletivo.png" /></img><br>
    <img><img id="applus_col_cp" border="0" src="images/site/Coletivo/Acidentes_Pessoais_Coletivo_PrazoCurto.png" /></img><br>
    <img><img id="apescolar" border="0" src="img/Coletivo/Acidentes_Pessoais_Escolar.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>