<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Saúde e Odontológico</h2> 
    <div id="klm">
    <img><img id="saude" border="0"  src="images/site/Coletivo/Saude.png" /> </img><br>
    <img><img id="odonto" border="0" src="images/site/Coletivo/Odontologico.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>