<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Vida em Grupo</h2> 
    <div id="klm">
    <img><img id="vida_col" border="0"  src="images/site/Coletivo/Vida_Grupo.png" /> </img><br>
    <img><img id="pme" border="0" src="images/site/Coletivo/PME.png" /></img><br>
    <img><img id="convencao" border="0" src="images/site/Coletivo/Convenções Coletivas.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>