<%- include('./partials/headerSite')%>

<main>
		<div id="main">
			<!-- CONTEUDO PRINCIPAL BEGINS -->
			<div class="slider">
            <!-- slider  -->
	            <div id="owl-demo" class="owl-carousel">
	                <div class="item"><img src="images/site/slides/Folder_Previdencia2.png"  alt="PREVIDÊNCIA PRIVADA"/></div>
	                <div class="item"><img src="images/site/slides/Folder_Vida2.png" alt="SEGURO DE VIDA"></div>
	                <div class="item"><img src="images/site/slides/Folder_Viagem2.png" alt="SEGURO VIAGEM"></div>
	                <div class="item"><img src="images/site/slides/Folder_TodaVida2.png" alt="PROTEÇÃO PLANEJADA"></div>
	                <div class="item"><img src="images/site/slides/cond.png" alt="SEGURO CONDOMINIAL"></div>
	            </div>
            <!-- slider -->
        	</div>
			<section class="section-um">
	            <article class="box">
	                <a href="sobrenos">
	                    <titulo><font class="gray">+</font> SOBRE <font class="red">A KLM CORRETORA</font></titulo>
	                    <p>A KLM oferece segurança e bom atendimento. Trabalhamos
	                     em parceria com a Porto Seguro, proporcionando o que há de melhor para você. <mais>Mais +</mais>
	                    </p>
	                </a>
	            </article>
	            <article class="box">
	                <a href="formulario">
	                    <titulo><font class="gray">+</font> FAÇA UM <font class="red">ORÇAMENTO</font></titulo>
	                    <p>Não deixe para amanhã, entre em contato com um de nossos corretores e garanta a segurança necessária para seu automóvel, residencia e muito mais. <mais>Mais +</mais>
	                    </p>
	                </a>
	            </article>
	            <article class="box">
	                <a href="sinistro">
	                    <titulo><font class="gray">+</font> AVISO DE <font class="red">SINISTRO</font></titulo>
	                    <p>Saiba o que fazer em caso de acidentes, como acionar a seguradora e quais os procedimentos se deve tomar em caso de sinistro. A Janco ajuda você. <mais>Mais +</mais>
	                    </p>
	                </a>
	            </article>
        	</section>
        	<!-- CONTEUDO PRINCIPAL ENDS -->
	        <section class="section-dois">
	            <article class="box facebook">
	                <a href="https://www.facebook.com/klmcorretoraseguros" target="_new"><h5>KLM CORRETORA FANPAGE</h5>
	                <p>Curta nossa página e confira novidades e dicas sobre seguros. </a>
	                </p>
	            </article>
	            <article class="box instagram">
	                <a href="https://www.instagram.com/kelly_klm.corretora/?hl=pt-br" target="_new"><h5>INSTAGRAM</h5>
	                <p>Siga-nos no Instagram e fique por dentro.</p>
	                </a>

	            </article>
	            <article class="box duvidas">
	                <a href="duvidas"><h5>DÚVIDAS FREQUENTES</h5>
	                <p>Fique por dentro e tire suas dúvidas com relação ao seu seguro!</p>
	                </a>
	            </article>
	            <article class="box contato">
	                <a href="contato"><h5>ENTRE EM CONTATO</h5>
	                <p>Mande seu recado, dúvida ou sugestão para nossa equipe.</p>
	                </a>
	            </article>
	        </section>
	    </div>
		</main>

<%- include('./partials/footerSite')%>
