<%- include('../partials/headerSite')%>

<main>
        <div id="container-klm">
        <h2>Acidentes Pessoais</h2> 
        <div id="klm">
        <img><img id="applus" border="0" src="images/site/Individual/APPlus.png" /></img><br>
        <img><img id="applusCP" border="0" src="images/site/Individual/APPlus Curto Prazo.png" /></img>
        </div>        
    </div>
</main>

<%- include('../partials/footerSite')%>