<%- include('../partials/headerSite')%>

<!-- CONTEUDO PRINCIPAL BEGINS -->
<main>
    
    <!-- CONTEUDO PRINCIPAL ENDS -->
    <section class="section-dois">
        <article class="produto1">
            <img src="images/site/images/auto_rastreador.png" width="50" height="50">
            <h5>RATREADOR VEICULAR</h5>
            <p>Rastreador com GPS</p>
        </article>
        <article class="produto2">
            <img src="images/site/images/camera.png" width="50" height="50">
            <h5>CÂMERA DE SEGURANÇA</h5>
            <p>Rastreador com GPS</p>
        </article>
        <article class="produto3">
            <img src="images/site/images/chaveiro.png" width="50" height="50">
            <h5>CHAVEIRO GPS</h5>
            <p>Rastreador com GPS</p>
        </article>
        <article class="produto4">
            <img src="images/site/images/mini_rastreador.png" width="50" height="50">
            <h5>MINI RASTREADOR</h5>
            <p>Rastreador com GPS</p>
        </article>
    </section>
</div>
</main>

<!-- CONTEUDO PRINCIPAL ENDS -->

<%- include('../partials/footerSite')%>