<%- include('../partials/headerSite')%>

<!-- CONTEUDO PRINCIPAL BEGINS -->
<main>
    
    <!-- CONTEUDO PRINCIPAL ENDS -->
    <section class="section-dois">
        <article class="box facebook">
            <img src="public/images/site/icons/face.png" width="70" height="70">
            <a href="https://www.facebook.com/klmcorretoraseguros" target="_new"><h5>KLM CORRETORA FANPAGE</h5>
            <p>Curta nossa página e confira novidades e dicas sobre seguros. </a>
            </p>
        </article>
        <article class="box instagram">
            <a href="https://www.instagram.com/klm_corretora_seguros/?hl=pt-br" target="_new"><h5>INSTAGRAM</h5>
            <p>Siga-nos no Instagram e fique por dentro.</p>
            </a>
        </article>
        <article class="box duvidas">
            <a href="duvidas"><h5>DÚVIDAS FREQUENTES</h5>
            <p>Fique por dentro e tire suas dúvidas com relação ao seu seguro!</p>
            </a>
        </article>
        <article class="box contato">
            <a href="contato"><h5>ENTRE EM CONTATO</h5>
            <p>Mande seu recado, dúvida ou sugestão para nossa equipe.</p>
            </a>
        </article>
    </section>
</div>
</main>

<!-- CONTEUDO PRINCIPAL ENDS -->

<%- include('../partials/footerSite')%>