<%- include('../partials/headerSite')%>

<main>
    <div id="container-klm">
    <h2>Alarmes</h2> 
    <div id="klm">
    <img><img id="applus" border="0" src="images/site/Individual/alarmes2.png" /></img><br>
    <img><img id="applus" border="0" src="images/site/Individual/alarmes.png" /></img><br>
    <h2>Ratreadores</h2> 
    <img><img id="applus" border="0" src="images/site/Individual/Rastreador.png" /></img><br>
    <img><img id="applus" border="0" src="images/site/Individual/Rastreador2.png" /></img>
    </div>        
</div>
</main>

<%- include('../partials/footerSite')%>