<%- include('../partials/headerSite')%>

<!-- CONTEUDO PRINCIPAL BEGINS -->
<main>
    <div id="container-klm">
        <h2>Quem Somos</h2>
        <div id="klm">
            <p>Somos mais que uma corretora de seguros, somos uma empresa que proporciona
                uma consultoria personalizada a seus clientes. Nosso foco principal é oferecer
                a melhor solução para que o cliente sinta-se protegido e seguro.</p>

            <p>A KLM surgiu da junção dos nomes Kelly, Larissa e Moacir, sim somos uma família
                e queremos proporcionar nossos valores familiares para nossa empresa também.</p>

            <p>Acreditamos que a cada vida protegida, tem uma família protegida e isso é
                o que nos faz sentir gratificados por esse trabalho. </p>

            <p>Sócia majoritária, Kelly Gusukuma Camargo, formada em Administração de Empresas,
                pós graduada em Finanças, com mais de 20 anos de experiência na área de Planejamento
                Financeiro: </p>

            <p>-"Não importa em que área da vida, essencial é ter um bom planejamento, dessa
                forma fica mais fácil concretizá-la, principalmente nos momentos em que o caminho
                não segue pelo curso desejado. Se você planejou saberá como voltá-lo ao curso certo!" </p>

            <p>-"Ter uma plano de Proteção Financeira Familiar além de garantir uma proteção e
                segurança para você e sua família, é uma ato de amor!" </p>

            <p>Nossa missão é garantir as melhores soluções, visando as necessidades de cada
                um.
            </p>

            <p></p>

            <p></p>

            <p>Bem vindo a KLM Corretora de Seguros.</p>
        </div>
    </div>
</main>
<!-- CONTEUDO PRINCIPAL ENDS -->

<%- include('../partials/footerSite')%>