h4 {
    background-color: red;
}

body {
    background-color: #f8f7f7;
}

header {
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 1350px;
    height: 30px;
    margin-bottom: 40px;
}

.main section{
    justify-content: space-between;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(52, 52, 245);
    width:1350px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.principal ul{
    display:flex;
    margin: 5px;
    padding-right: 5px;
}

.principal ul li{
    display:inline-block;
    padding-right: 50px;
    padding-left: 40px;
}

.carrinho {
    display:flex;
    padding-left: 370px;
    width: 30px;
    height: 30px;
    
}
.container {
    display: inline;
    width: 1350px;
    height: 300px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color:#f8f7f7;
}

.rodape {
    display: flex;
    
    width:1350px;
    height: 150px;
}

.local {
    justify-content: center;
    flex-grow: 1;
    margin-top: 10px;
    margin-left: 30px;
}

.geral {
    margin-top: 10px;
    flex-grow: 2;
    justify-content: center;
}

.geral ul li {
    margin: 10px;
}


.midias {
    flex-grow: 1;
    justify-content: center;
}

.midias section img {
    margin: 15px;
    margin-left: 30px;
}